



body{
    background-color: rgb(113, 151, 201);
    overflow: scroll;
    display: grid;
    text-align: center;
}
.setgrid{
    display: grid;
    grid-template-columns: 3, 1fr, 3fr, 1fr;
    grid-template-rows: 3, 3fr, 2fr, 1fr;
    grid-column: 2/3;
    grid-gap: 20px;
    background-color: rgb (46, 43, 43);
}

main{
    display: grid;
    grid-template-columns: 3, 1fr, 3fr, 1fr;
    grid-template-rows: repeat(9, 1fr);
    background-color: rgb(113, 151, 201);
    grid-column: 2/3;
    grid-row: 1/2;
    max-width: 800px;
}

h1{
    font-weight: bolder;
}

h2{ 
    font-weight: bolder;
}

.welcome{
    display: grid;
    grid-template-columns: 3, 1fr, 3fr, 1fr;
    grid-column: 2/3;
    grid-row: 1/2;
    min-height: 500px;
    background-color: khaki; 
}